// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}


/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


/**
 * Custom Css from Will Paginate documenation
 */

.custom_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .custom_pagination a, .custom_pagination span, .custom_pagination em {
    padding: 0.2em 0.5em; }
  .custom_pagination .disabled {
    color: #aaaaaa; }
  .custom_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .custom_pagination a {
    border: 1px solid #dddddd;
    color: #337ab7;
    text-decoration: none; }
    .custom_pagination a:hover, .custom_pagination a:focus {
      border-color: #337ab7;
      background: #337ab7;
      color: white; }
  .custom_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .custom_pagination .previous_page, .custom_pagination .next_page {
    border-width: 2px; }
  .custom_pagination .previous_page {
    margin-right: 1em; }
  .custom_pagination .next_page {
    margin-left: 1em; }
.sidebar .nav-link {
  border-radius: 0;
}

.progress-bar {
  height: 1rem;
  color: #0e0e0e;
}
